@using SmartAssistant.Shared.Models.Team
@model IEnumerable<TeamModel>

<h2>Your Teams</h2>
<a asp-action="Create" class="btn btn-primary">Create New Team</a>

<table class="table">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Owner Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.OwnerUserName"</td>
                <td>
                    <a asp-action="Details" asp-route-id="@team.Id" class="btn btn-info">Details</a>
                    @if (User.Identity.Name == team.OwnerUserName)
                    {
                    <a asp-action="Delete" asp-route-id="@team.Id" class="btn btn-danger">Delete</a>
                        
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
