@using SmartAssistant.Shared.Models.Reminder
@model ReminderModel

<div class="container mt-5">
    <h2 class="display-6 mb-4" style="color: #00c6ff;">Reminder Details</h2>
    <div>
        <h4 style="color: #fff;">Reminder</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color: #00c6ff;">Message</dt>
            <dd class="col-sm-10" style="color: #fff;">@Model.ReminderMessage</dd>
            <dt class="col-sm-2" style="color: #00c6ff;">Date</dt>
            <dd class="col-sm-10" style="color: #fff;">@Model.ReminderDate</dd>
        </dl>
    </div>
    <p>
        <a href="@Url.Action("Index")" class="btn btn-secondary mt-3">Back to List</a>
    </p>
</div>
